/config/production/
/venv/
/static/
/media/*.csv
/example/venv/
/.cache/
/.eggs/
/.ssh/
/.pytest_cache/
/htmlcov/
/*.egg-info/
/.coverage
/config/playbooks/files/vault_password
/.env
/.idea
.db-journal
.env.production
__pycache__
npm-debug.log
.DS_Store
.git_revision
*.pem
*.tar.gz
*.db.gz
*.sqlite3
*.db
*.pyc
*.swp
*~
